__pycache__/
*.pyc
.venv/
.DS_Store
data/kafka/
data/lake/
data/progress/
data/checkpoints/
data/kudu/
data/kudu_pyspark/
data/lake/ods_binlog_pyspark/
data/lake/ods_pyspark/
data/alerts/
data/dolphinscheduler/
data/monitor/
data/hdfs/
data/hive/
data/ops/
.idea/
target/
.env
docker/.env
docker/.env.example
docker/hadoop/dist/
docker/hive/dist/
